@import url("https://fonts.googleapis.com/css?family=Atma:300,400,500,600,700&display=swap");
html {
  height: 100%;
  font-size: 16px;
  font-family: "Passion One", "Atma", arial;
}

body {
  height: 100%;
  margin: 0;
}

#interface {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#interface > header, #interface > footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: .5em 1em;
  background-color: #EEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: goldenrod;
  background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 18pt, rgba(255, 255, 255, 0) 21pt, rgba(255, 255, 255, 0.2) 36pt, rgba(255, 255, 255, 0) 50pt, rgba(255, 255, 255, 0.2) 54pt, rgba(255, 255, 255, 0) 60pt, rgba(255, 255, 255, 0.2) 62pt, rgba(255, 255, 255, 0) 72pt, rgba(255, 255, 255, 0.2) 100pt);
  -webkit-animation: shines infinite;
          animation: shines infinite;
}

#interface > header {
  -webkit-box-ordinal-group: -999;
      -ms-flex-order: -1000;
          order: -1000;
  color: darkgoldenrod;
  text-shadow: 0.1em 0.1em 0.3em black;
}

#interface > header h1 {
  line-height: 1;
  font-weight: 900;
  margin: 0;
  margin-bottom: -.35em;
  position: relative;
  font-size: 8vw;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

#interface > footer {
  -webkit-box-ordinal-group: 1001;
      -ms-flex-order: 1000;
          order: 1000;
  font-size: smaller;
}

#interface > .body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

#interface > .recherche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

#interface > .recherche form {
  position: relative;
}

#app {
  background-color: darkgoldenrod;
  padding: 1em;
  padding-top: 3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

span.img {
  display: block;
  width: 5em;
  height: 5em;
  border-radius: .5em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 25%;
}

div.list {
  display: -ms-grid;
  display: grid;
  gap: .5em;
  font-size: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (38ch)[auto-fit];
      grid-template-columns: repeat(auto-fit, 38ch);
}

div.list > * {
  background-color: white;
  border: solid;
  border-radius: .25em;
  padding: 1em;
  -webkit-box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
          box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

div.person {
  display: -ms-grid;
  display: grid;
  gap: 0 1ch;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "nom photo" "role photo" "lieu photo";
  line-height: 1;
}

div.person a.email {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nom;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

div.person a.email .separateur::before {
  content: ", ";
}

div.person a {
  color: inherit;
  text-decoration: inherit;
}

div.person .elected_office {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: role;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
}

div.person .last_name {
  text-transform: uppercase;
  font-weight: bold;
}

div.person .representative_set_name {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: lieu;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-style: italic;
  font-size: smaller;
  text-align: center;
}

div.person .img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: photo;
}

.representative_sets {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.representative_sets li {
  border: 2px solid red;
}
/*# sourceMappingURL=style.css.map */